@media (max-width:600px) {
    .navbar{
        width:100%;
        height:48px;
    }
    .logo{
        height:33px;
        width:40px;
        margin-top:2px;
    }
    .nav{
        margin-left:50px;
        font-size:18px;   
    }
    .nav2{
        margin-left:100px;
        font-size:18px;   
    }
    .container1{
        height:400px;
        width:85vmax;
        padding: 175px 70px 50px 70px;
        font-size:100px;
        margin-bottom: 17px;
    }
    .firsttext{
        font-size:35px;
        margin-top: 14px;
    }
    .button1{
        padding:15px 20px 15px 20px;
        font-size:22px;
        position:relative;
        top:-110px;
        right:60px;
    }
    .button1:hover{
        padding:15px 20px 15px 20px;
        font-size:22px;
        position:relative;
        top:-110px;
        right:60px;
    }
    .button2{
        padding:15px 20px 15px 20px;
        font-size:22px;
        position:relative;
        top:-110px;
        left:50px;
    }
    .button2:hover{
        padding:15px 20px 15px 20px;
        font-size:22px;
        position:relative;
        top:-110px;
        left:50px;
    }
    
    .container2{
        font-size:15px; 
        padding-top:70px;
        padding-left:30px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        width:85vmax;
        display:flex;
        flex-direction: row;
    }
    .box1{
        padding:20px 10px 10px 10px;
        height:130px;
        width:160px;
        margin-right: 7px;
        display:inline-block;
        font-size:20px;
        margin-top: 18px;
    }
    .container3{
        padding-top:70px;
        padding-left:74px;
        width:85vmax;
        font-size:22px;
        margin-bottom: 40px;
    }
    .box2{
        padding:32px 16px 25px 17px;
        width:470px;
        height:350px;
        margin-top:30px;
        margin-right:40px;
        margin-bottom:30px;
    }
    .box2-1{
        padding:20px 10px 10px 10px;
        height:270px;
        width:240px;
        margin-right: 7px;
        margin-bottom: 7px;
        position:relative;
        top:30px;
        left:80px;
    }
    .box2-1:hover{
        padding:20px 10px 10px 10px;
        height:270px;
        width:250px;
        margin-right: 7px;
        margin-bottom: 7px;
        position:relative;
        top:30px;
        left:80px;
        right:40px;
        bottom:30px;
    }
    .box2-2{
        border:3px solid green;
        padding:20px 10px 10px 10px;
        height:270px;
        width:240px;
        margin-left: -230px;
        margin-bottom: 6px;
        display: inline-block;
        position:relative;
    }
    .box2-2:hover{
        padding:20px 10px 10px 10px;
        height:270px;
        width:250px;
        margin-left: -230px;
        margin-bottom: 6px;
        display: inline-block;
        position:relative;
    }
    .container4{
        text-align:center;
        padding-top: 40px;
        width:104vmax;
        background-color: #eee;
        color:black;
        margin-bottom: 40px;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .box3{ 
        margin-top:44px;
        margin-right:35px;
        height:430px;
        width:280px;
        padding:10px;
    }
    .box3:hover{
        margin-top:44px;
        margin-right:35px;
        height:430px;
        width:280px;
        padding:10px;
    }
    .image{
        height:210px;
        width:270px;
    }
    .button3{
        position:relative;
        top:40px;
    }
    .button3:hover{
        position:relative;
        top:40px;
    }
    .container5{
        border:4px solid green;
        height:420px;
        width:520px;
        margin-top:110px;
        margin-left:155px;
        background-color: #eee;   
        
    }
    .contact{
        font-size:20px;
        height:25px;
        text-align: center;
        width:100%;  
    }
    .form1{
       
        height: 355px;
        width:245px;
        font-size: 27px;  
    }
    .data{
        height:80px;
        width:240px;
        font-size: 20px;
        margin-top: 9px;
        margin-left:3px;
    }
    .form2{
        height:355px;
        width:250px; 
    }
    .data2{
        height: 270px;
        width:260px;
        font-size: 20px;
        margin-top:9px;
        margin-left:6px;
    }
    .data3{
        height:60px;
        width:150px;
        font-size: 20px;
        border-radius: 4px;
        margin-top: 22px;
        margin-left:15px;
    }
    .data3:hover{
        height:60px;
        width:150px;
        font-size: 20px;
        margin-top: 25px;
        margin-left:15px;
    }
    .container6{
        margin-top:100px;
        height:220px;
        width:104vmax;
        padding: 70px 0px 60px 0px;
        font-size:21px;
    }
    .quicklinks{
       text-decoration:none;
       color:white;
       margin-right: 50px;
    }
    h2{
        font-size:25px;
    }
    .heading1{
        padding-top:10px;
        padding-right:25px;
        font-size:25px;   
    }
    .headings{
        font-size:54px;
        text-align: center;
        
    }
    .image2{
        height:120px;
        width:160px;
        margin-top:22px;
        margin-right:70px;
    }
    .endtext{
        height:40px;
        width:72vmax;
        padding-top: 25px;
        padding-left:272px;
        background-color:lightgreen;
        font-size:19px;
    }
}
@media (max-width:315px) {
    
    .container3{
        padding-top:70px;
        padding-left:74px;
        width:550px;
        font-size:22px;
        margin-bottom: 40px;
    }
    .box2-1{
        padding:20px 10px 10px 10px;
        height:270px;
        width:240px;
        margin-right: 7px;
        margin-bottom: 7px;
        position:relative;
        top:30px;
        left:80px;
    }
    .box2-1:hover{
        padding:20px 10px 10px 10px;
        height:270px;
        width:250px;
        margin-right: 7px;
        margin-bottom: 7px;
        position:relative;
        top:30px;
        left:80px;
        right:40px;
        bottom:30px;
    }
    .box2-2{
        border:3px solid green;
        padding:20px 10px 10px 10px;
        height:270px;
        width:240px;
        margin-left:45px;
        margin-top:-260px;
        margin-bottom: 6px;
        display: inline-block;
    }
    .box2-2:hover{
        padding:20px 10px 10px 10px;
        height:270px;
        width:250px;
        margin-left: 45px;
        margin-top:-260px;
        margin-bottom: 6px;
        display: inline-block;
    }
}
@media (min-width:600px) and (max-width:1034px) {
    .container5{
      margin-left:170px;
    }
    .endtext{
        width:660px; 
        padding-left:350px;
    }
    .container6{
    width:1000px;
    }
    .container4{
        width:1000px;
    }
    .container2{
        width:1000px;
      
    }
    .container3{
        width:1000px;
    }
    .container1{
        width:1000px;
    }
    .nav{
        margin-left:70px;
        font-size:24px;   
    }
    .nav2{
        margin-left:140px;
        font-size:24px;   
    }
    .navbar{
        width:100%;
    }
}
@media (min-width:1222px) and (max-width:1327px){
    .box2-1{
        margin-left:100px;
    }
}
@media (min-width:1034px) and (max-width:1350px){
    .nav{
        margin-left:110px;
        font-size:26px;   
    }
    .nav2{
        margin-left:200px;
        font-size:26px;
    }
    .navbar{
        width:100%;
    }
    .container5{
        margin-left:260px;
    }
    .endtext{
        padding-left:460px;
    }
}
